header {
    padding: 40px 90px 40px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .brand {
        display: flex;
        align-items: center;
        padding: 20px 30px 20px 30px;
        font-size: $font-brand;
        color: $fg;
        text-decoration: none;
        transition: 0.2s ease-in-out;

        .logo {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

        .name {
            display: flex;
            flex-direction: column;
            font-weight: $font-bold;
        }

        &:hover {
            background: darken($bg, 4%);
        }
    }

    nav {
        font-size: $font-nav;

        a,
        a:active,
        a:visited {
            display: inline-block;
            color: $fg;
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 80px;
            transition: 0.2s ease;

            &:hover {
                color: $tertiary;
            }

            &.active {
                color: $primary;
                font-weight: $font-bold;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}