.panel {
    max-width: 1500px;
    padding: 0 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .panel__image {
        max-width: 1920px;

        img {
            width: 100%;
            border-radius: 4px;
        }
    }

    .panel__body {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .body__title {
            font-size: $font-heading;
            font-weight: $font-bold;
            align-self: center;
            justify-self: center;
        }

        .body__content {
            margin: 40px 0;
            width: 90%;
            align-self: center;
            justify-self: center;
        }

        .body__cta {
            align-self: center;
            justify-self: center;
        }
    }
}

.panel-sec {
    flex-direction: row-reverse;

    .panel__body {
        margin-right: 0;
        margin-left: 10px;
        align-items: flex-end;

        .body__content {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .panel, .panel-sec {
        flex-direction: column-reverse;

        .panel__image {
            margin-bottom: 30px;
        }

        .panel__body {
            .body__number {
                display: none;
            }

            .body__cta {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .panel {
        padding: 0;

        .panel__body {
            .body__cta {
                flex-direction: column;
                align-items: center;

                a:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
