html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $bg;
    color: $fg;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-regular;
    font-weight: $font-normal;
    overflow-x: hidden;
}

p {
    letter-spacing: 0.01em;
    line-height: 1.6em;
}

.container {
    padding: 0 60px;
    max-width: 1920px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
}