// background and text colors
$bg: #FFF;
$fg: #05102E;
$bg-alternate: #EFFAFF;

// theme colors
$primary: #638DE7;
$secondary: #FFC4D8;
$tertiary: #D2EBFF;
$primary-dark: #006FA2;
$btn-bg: #7ABEDD;

// fonts
$font: 'Raleway', sans-serif;
$font-normal: 400;
$font-bold: 700;

// font sizes
$font-brand: 16pt;
$font-nav: 12pt;
$font-hero: 28pt;
$font-section: 40pt;
$font-heading: 20pt;
$font-regular: 16pt;
$font-panel: 200pt;
