// background and text colors
$bg: #F6FAFF;
$fg: #05102E;

// theme colors
$primary: #224AB7;
$secondary: #FC7DA7;
$tertiary: #94C3FF;
$quaternary: #D1E5FF;

// fonts
$font: 'Montserrat', sans-serif;
$font-normal: 500;
$font-bold: 700;

// font sizes
$font-brand: 16pt;
$font-nav: 12pt;
$font-hero: 30pt;
$font-section: 50pt;
$font-section-sub: 16pt;
$font-heading: 20pt;
$font-regular: 16pt;
$font-panel: 200pt;