main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
    margin: 0 auto;
    margin-bottom: 180px;
    max-width: 1920px;

    .content {
        margin-top: 60px;
        margin-right: 50px;
        max-width: 750px;

        .tag {
            font-size: $font-hero;
            font-weight: $font-bold;
        }
    
        .para {
            margin: 40px 0;
        }
    }

    .illustration {
        img {
            width: 100%;
        }
    }

    .underline {
        display: inline-block;
        z-index: 2;
        position: relative;
        color: $primary-dark;

        &::after {
            position: absolute;
            bottom: 2px;
            left: 0;
            z-index: -1;
            content: '';
            width: 100%;
            height: 25%;
            background: $secondary;
        }
    }
}

.work {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;


    .panel:nth-child(2) {
        margin: 150px 0;
    }
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    padding-bottom: 100px;

    .profile {
        background: white;
        max-width: 200px;
        margin-bottom: 40px;
        border-radius: 50%;
        box-shadow: 0 3px 10px rgba(black, 0.2);

        img {
            width: 100%;
        }
    }

    .content {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .heading {
            span {
                font-size: $font-hero;
                font-weight: $font-bold;
            }
        }
    }
}

.skills {
    margin-top: 120px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .list__heading {
            font-size: $font-heading;
            font-weight: $font-bold;
        }

        .list__body {
            ul li {
                padding-left: 2px;
                list-style: none;
                list-style-type: none;

                &:before {
                    content: "-";
                }
            }
        }
    }
}

.contact {
    margin-top: 50px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        margin-top: 30px;
        padding: 15px 30px;
        max-width: 500px;
        width: 100%;
        background: $tertiary;
        border-radius: 5px;
        box-shadow: 0 3px 15px rgba($secondary, 20%);

        .input-group {
            padding: 10px 0;

            label {
                display: block;
                margin-bottom: 10px;
            }

            input {
                display: block;
                width: 100%;
                padding: 12px 20px;
                font-size: $font-nav;
                border: none;
                border-radius: 7px;
            }

            textarea {
                display: block;
                width: 100%;
                height: 150px;
                padding: 12px 20px;
                font-size: $font-nav;
                border: none;
                border-radius: 7px;
            }
        }
    }

    .socials {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .socials-container {
            margin-top: 30px;
            max-width: 1100px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .social {
                display: flex;
                justify-content: center;
                align-items: center;    
                width: 350px;
                height: 90px;
                background: $tertiary;
                border-radius: 5px;
                transition: box-shadow 0.2s linear;
                font-size: $font-regular;

                img {
                    margin-right: 10px;
                }

                a,
                a:active,
                a:visited {
                    color: $fg;
                    text-decoration: none;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
                }
            }

        }
    }
}

@media only screen and (max-width: 1200px) {
    main {
        .content {
            .cta {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                a:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    main {
        padding: 60px 30px;

        .content {
            width: 60%;
        }

        .illustration {
            position: absolute;
            width: 420px;
            top: 120px;
            right: -150px;
            z-index: -1;
        }
    }

    .about {
        flex-direction: column;

        .content {
            .heading {
                padding: 0 30px;
            }

            .body {
                padding: 0 30px;
            }

            .cta {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .skills {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .list {
            .list__body {
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    main {
        padding: 30px 0;

        .content {
            width: 100%;
        }

        .illustration {
            display: none;
        }
    }

    .about {
        .content {
            .cta {
                flex-direction: column;
                
                a:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
